Repository tedilabs/dockerfiles, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: doraemon, :floppy_disk: slacktee

Add doraemon
  doraemon/Dockerfile
Labels: :floppy_disk: doraemon

Add slacktee
  slacktee/Dockerfile
Labels: :floppy_disk: slacktee

Add README.md
  README.md
Labels: none

Add dependabot.yml
  .github/dependabot.yml
Labels: none

Add dependabot.yml (#1)
  .github/dependabot.yml
Labels: none

Support manual trigger for sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Support manual trigger for sync-labels action (#4)
  .github/workflows/sync-labels.yaml
Labels: none

Add welcome action
  .github/workflows/welcome.yaml
Labels: none

Add delivery workflow
  .github/workflows/delivery.yaml
Labels: none

Add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

test
  .github/workflows/delivery.yaml
Labels: none

Add pull request template
  .github/pull_request_template.md
Labels: none

backup
  .github/workflows/delivery.yaml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

Remove deprecated pull-request-labeler.yaml workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated welcome.yaml workflow
  .github/workflows/welcome.yaml
Labels: none

Remove deprecated sync-labels.yaml workflow
  .github/workflows/sync-labels.yaml
Labels: none

chore: cleanup deprecated GitHub workflow files (#14)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/CODEOWNERS via Terraform
  .github/CODEOWNERS
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .yamllint.yaml via Terraform
  .yamllint.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

Remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: doraemon":
- doraemon/**/*

":floppy_disk: slacktee":
- slacktee/**/*
